
/* MAIN */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: rgb(107, 138, 122);
}

.generator-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    color: rgb(107, 138, 122);
}


.itinerary-detail {
    margin: 20px 0;
}

.itinerary-detail h4 {
    margin-top: 10px;
}

/* BUTTONS AND OTHER SMALL DETAILS */

.btn btn-danger {
    color: red;
}

/* ERROR MESSAGES */

.messages {
    list-style-type: none; /* Removes bullet points */
    padding: 10px;
    margin: 0;
}

.messages .success {
    background-color: green;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.messages .error {
    background-color: red;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.messages .warning {
    background-color: yellow;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}

.messages .info {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
