{% extends 'base.html' %}

{% block content %}
    <div class="itinerary-detail">
        <h2>Itinerary for {{ itinerary.destination }}</h2>
        <div class="activities">
            {% for day in itinerary.api_response.itineraries %}
                <h4>Day {{ day.day }}</h4>
                <ul>
                    {% for activity in day.activities %}
                        <li>{{ activity.time }} - {{ activity.description }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <form action="{% url 'confirm_itinerary_deletion' itinerary.id %}" method="get">
            <button type="submit" class="btn btn-danger"><i class="ai-trash-can"></i> Delete Itinerary</button>
        </form>
    </div>
{% endblock %}
