{% extends "base.html" %}

{% block content %}
    <div class="generator-container">
        <h1>So where are we going?</h1>
        <form method="POST" action="{% url 'itinerary_generator' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.destination.id_for_label }}" class="form-label">{{ form.destination.label }}</label>
                {{ form.destination }}
            </div>
            <div class="form-group">
                <label for="{{ form.days.id_for_label }}" class="form-label">{{ form.days.label }}</label>
                {{ form.days }}
            </div>
                <button type="submit" class="generator-btn"><i class="ai-paper-airplane"></i> Generate Itinerary</button>
        </form>
        {% if itineraries %}
            <h2>{{ destination }}</h2>
            <ul>
                {% for day_plan in itineraries %}
                    <li><h5>Day {{ day_plan.day }}:</h5>
                        <ul>
                            {% for activity in day_plan.activities %}
                                <li> {{ activity.time }} {{ activity.description }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
            <form method="POST" action="{% url 'itinerary_generator' %}">
                {% csrf_token %}
                <input type="hidden" name="save" value="save">
                <button type="submit" class="btn save-btn"><i class="ai-heart"></i> Save Itinerary</button>
            </form>
        {% endif %}
    </div>
{% endblock %}
