{% extends "base.html" %}

{% block content %}
        <title>My Itineraries</title>
    <body>
        <h1>Saved Itineraries</h1>
        {% if itineraries %}
            <ul>
                {% for itinerary in itineraries %}
                    <li>
                        <strong>Destination:</strong> {{ itinerary.destination }} <br>
                        <strong>Day:</strong> {{ itinerary.day }} <br>
                        <strong>Plan:</strong> {{ itinerary.plan }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No saved itineraries.</p>
        {% endif %}
{% endblock %}